.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cube {
}

.top {
  margin-left: 50px;
}

.middleFaces {
  display: flex;
  flex-direction: row;
}

.this-is-a-face {
  border: solid red 2px;
  width: fit-content;
}

.this-is-a-box {
  border: solid blue 1px;
}

.rows {
  display: flex;
  flex-direction: row;
}
.cube {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mid {
  display: flex;
  width: 100%;
}
.face {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 25%;
}
.row {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}
.cell {
  display: flex;
  width: 32%;
  border: 1px solid white;
  justify-content: center;
}

.yellow {
  background: yellow;
}
.white {
  background: white;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.orange {
  background: orange;
}
.red {
  background: red;
}

.none {
  border: none;
}
